.Shell {
  width: auto;
  height: auto;
    flex-grow: 0;
    padding: 12px 11px 15px 10px;
    background-color: #d9d9d9;
}
.Rectangle-1 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  border-radius: 7px;
  background-color: #e22d2d;
}
.Solar-Generation-Consumption {
  flex-grow: 0;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}
.Rectangle-6 {
  width: 611px;
  height: 273px;
  flex-grow: 0;
  background-color: #f8f8f8;
  margin-top: 36px;
}
.Rectangle-4 {
  width: 998px;
  height: 374px;
  flex-grow: 0;
  margin: 28px 0 11px 47px;
  padding: 26px 19px 17px 24px;
  border-radius: 8px;
  background-color: #fff;
}
.graph-card {
  display: flex;
  flex-direction: row;
}
.Energy-Generation {
  width: 123px;
  height: 16px;
  margin: 29px 43px 20px 33px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  /* line-height: normal; */
  /* letter-spacing: normal; */
  /* text-align: left; */
  color: #333;
  /* margin-top: -3px; */
  /* top: auto; */
  position: absolute;

}

.Export-to-Grid {
  width: 95px;
  height: 16px;
  margin-right: 43px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333;
  position: absolute;
  margin-top: 30px;
}
.Energy-Consumption {
  width: 139px;
    height: 16px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333;
    position: absolute;
    margin-left: 7px;
    margin-top: 30px;
}
.number {
  width: 75px;
  height: 28px;
  margin: 8px 109px 27px 28px;
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}
.Welcome-text {
  font-family: Ubuntu;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.shell-header {
  display: flex;
  flex-direction: row;
}
.text-container {
  margin-top: 41px;
  margin-right: 45px;
  width: 260px;
  height: 82px
px
;
}
.Rectangle-7 {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  width: 780px;
  height: 107px;
  border-radius: 8px;
  background-color: #fff;
}
.Rectangle-8 {
  width: 169px;
  height: 107px;
  border-radius: 8px;
  background-color: #ffeed5;
}
.Monthly-Overview-div {
  height: 56px;
  width: 110px;
  margin-left: 24px;
  margin-right: 34px;
  margin-bottom: 34px;
}
.Monthly-Overview {
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}
.Welcome-text .text-style-1 {
  font-weight: normal;
}
html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Vector-4 {
  width: 30.5px;
  height: 8px;
  flex-grow: 0;
  margin: 4px 8.5px 17px 0;
  border: solid 1px #2e41ee;
}
.data-card {
  display: flex;
  flex-direction: row;
  margin-top: 38px;
}
.Daily-kW {
  width: 65px;
  height: 16px;
  flex-grow: 0;
  margin: 0 6px 4px 11px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #666;
}
.Rectangle-9 {
  width: 114px;
  height: 69px;
  flex-grow: 0;
  padding: 4px 19px 8px 13px;
  border-radius: 8px;
  justify-content: center;
  background-color: #effaff;
}
.Min {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #666;
  margin-top: none;
}
.number-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.data-number {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: none;
  letter-spacing: normal;
  text-align: left;
  color: #666;
}
.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
